@media only screen and (max-width: 1150px){
  .works{
    .row{
      justify-content: space-around;
    }
  }
}
@media only screen and (max-width: 950px){
  .container-md {
    max-width: 700px;
  }
  .myWork{
    background: linear-gradient(180deg, rgb(255, 255, 255) 48%, rgb(240, 243, 254) 26%);
  }
  .my-work{
    width: 75%;
    h2{
      font-size: 60px;
    }
  }
  .work-skill{
    width: 48%;
  }
  .footer-contact{
    width: 100%;
  }
  .footer-txt{
    width: 100%;
  }
}
@media only screen and (max-width: 750px){
  .img{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .my-work{
    margin: auto;
  }
  .work-skill {
    width: 80%;
    margin: auto;
  }
  .contact-us {
    width: 85%;
    margin: auto;
  }
  .contact-img {
    width: 55%;
    margin: auto;
  }
  .mobile {
    width: 70%;
    img{
      height: 415px;
    }
  }
}
@media only screen and (max-width: 550px){
  .img .img1 {
    width: 450px;
    height: 500px;
    border-radius: 70px;
    object-fit: cover;
  }
  .my-work{
    h2{
      font-size: 40px;
    }
  }
  .work-skill {
    width: 65%;
  }
  .footer-contact{
    padding: 30px;
  }
  .footer-txt{
    padding: 30px;
  }
  .mobile {
    width: 85%;
  }
}